:root {
    --clr-primary-text-blue: hsl(238, 29%, 16%);
    --clr-primary-text-red: hsl(14, 88%, 65%); 
    --clr-secondary-text-very-dark-blue: hsl(237, 12%, 33%);
    --clr-secondary-text-dark-blue: hsl( 240, 6%, 50%); 

    --clr-gradient-violet: hsl(273, 75%, 66%);
    --clr-graident-blue: hsl(240, 73%, 65%);
    
    --clr-divider: hsl(240, 5%, 91%); 

    --fs-primary: 12px;

    --ff-primary: 'Kumbh Sans', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700; 
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {

}

.desktop-illustration {

}

.desktop-illustration-box{

}

.mobile-illustration {
    display: none; 
}

.title {

}

.faq-container {

}

.question {

}

.down-arrow {

}

.answer {

}


@media (max-width: 50em) {
    .desktop-illustration {
        display: none;
    }

    .desktop-illustration-box{
        display: none;
    }

    .mobile-illustration {
        display: contents;
    }
}