:root {
    --clr-primary-pink: hsl(332, 100%, 66%);

    --clr-neutral-pale-cyan: hsl(193, 100%, 96%);
    --clr-neutral-dark-cyan: hsl(192, 100%, 9%);
    --clr-neutral-grayish-blue: hsl(208, 11%, 55%);

    --fs-primary: 18px;

    --fw-headings-sb: 600;
    --ff-headings: 'Open Sans', sans-serif;

    --fw-body-cta-r: 400;
    --fw-body-cta-b: 700;
    --ff-body-cta: 'Poppins', sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body{
  background-color: var(--clr-neutral-pale-cyan);
}

/* Mobile Styling */
.desktop-header-img {width: 0;}
.mobile-header-img {
    position: absolute;
    width: 375px;
    left: 0;
    top: 0;
    z-index: -1;
}
header{
    position: relative;
    width: 375px;
    height: 657px;
    padding: 15px;
    margin-top: 10px;
}

.container-nav {
  display: flex;
  flex-direction: row;
}

.header-logo {
  width: 100px;
  z-index: 1;
}

.header-spacer {
  width: 175px;
}

.button-try {
  width: 100px;
  padding: 4px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  color: black;
  font-size: 10px;
  font-family: var(--ff-headings);
  font-weight: var(--fw-headings-sb);
  z-index: 1;
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-main {
  font-weight: var(--fw-headings-sb);
  font-family: var(--ff-headings);
  font-size: 24px;
  text-align: center;
  padding: 80px 20px 25px 20px;
}

.heading-disc {
  font-family: var(--ff-headings);
  font-weight: var(--fw-body-cta-r);
  font-size: 16px;
  text-align: center;
  padding: 0 22px 0 22px;
}

.heading-button {
  background-color: var(--clr-primary-pink);
  color: white;
  width: 240px;
  border-radius: 30px;
  margin: 30px 0 50px 0;
  text-align: center;
  font-size: 12px;
  font-weight: var(--fw-body-cta-b);
  padding: 10px 0 10px 0;
}

/*Desktop Styling */
@media (min-width: 60em){
    .desktop-header-img {
        position: absolute;
        width: 1440px;
    }

    .mobile-header-img {display: none;}

    header {
        position: relative;
        width: 1440px;
        height: 718px;

    }
}