:root {
--clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
--clr-desaturated-dark-blue: hsl(214, 17%, 51%);
--clr-grayish-blue: hsl(212, 23%, 69%);
--clr-light-grayish-blue: hsl(210, 46%, 95%);

--fs-primary: 13px;
--fw-regular: 500;
--fw-bold: 700;
--ff-primary: 'Manrope', sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  background-color: var(--clr-light-grayish-blue);
  font-family: var(--ff-primary);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  width: 730px; 
  border-radius: 12px;
  background-color: white;
}

.container-image {
  background-image: url(./images/drawers.jpg);
  background-size: 350px 280px;
  width: 285px;
  height: 279.5px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.drawers-image{
  object-fit: cover;
  object-position: 200% 0;
}

.container-text {
  width: 445px; 
  padding: 32px; 
}

.title {
  font-size: 22px;
  font-weight: var(--fw-bold);
  color: var(--clr-very-dark-grayish-blue);
  line-height: 28px;
}

.description {
  margin-top: 12px;
  font-size: var(--fs-primary);
  font-weight: var(--fw-regular);
  color: var(--clr-desaturated-dark-blue);
}

.container-author {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.avatar-michelle {
  width: 40px;
  border-radius: 25px;
}

.container-name-date {
  display: flex;
  flex-direction: column;
  margin-left: 15px; 
  margin-right: 175px;
}

.name {
  font-size: var(--fs-primary);
  color: var(--clr-very-dark-grayish-blue);
  font-weight: var(--fw-bold);
}

.date {
  font-size: var(--fs-primary);
  color: var(--clr-desaturated-dark-blue);
}

.share-icon[display="true"] {
  background-color: var(--clr-light-grayish-blue);
  padding: 8px;
  padding-bottom: 10px;
  border-radius: 15px;
}

.share-icon[display="false"] {
  display: none; 
}

.share-icon-white[display="true"] {
  background-color: var(--clr-desaturated-dark-blue);
  padding: 8px;
  padding-bottom: 10px;
  border-radius: 15px;
}

.share-icon-white[display="false"] {
  display: none;
}

.share-text {
  color: var(--clr-grayish-blue);
  font-size: 14px;
  letter-spacing: 4px;
}

.share-pop-up[display="true"] {
  position: absolute;
  top: -75px;
  right: -100px; 
  overflow: visible;
  display: flex;
  flex-direction: row;
  background-color: var(--clr-very-dark-grayish-blue);
  justify-content: space-between;
  align-content: center;
  width: 250px;
  padding: 18px 40px 18px 40px;
  border-radius: 9px;
}

.share-pop-up[display="true"]::before {
  content: "";
  position: absolute;
  bottom: -10px; 
  left: 118px;
  margin: auto; 
  height: 20px;
  width: 20px; 
  border: 1px solid var(--clr-very-dark-grayish-blue);
  transform: rotate(45deg);
  background-color: var(--clr-very-dark-grayish-blue);

}

.share-pop-up[display="false"] {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 54em) {
  .container {
    flex-direction: column;
    width: 325px;
  }

  .container-image {
    width: 325px;
    height: 200px;
    background-size: 325px 240px;
    border-bottom-left-radius: 0;
    border-top-right-radius:  12px;
  }

  .container-text {
    width: 325px;
    padding: 34px;
  }

  .title {
    margin-top: 3px;
    font-size: 16px;
    line-height: 22px;
  }

  .description {
    font-size: 13px;
    margin-top: 13px; 
  }

  .container-author {
    margin-top: 34px;
    margin-bottom: -14px;
  }

  .container-name-date {
    margin-right: 55px; 
  }

  .share-icon-white[display="true"]{
    z-index: 1;
  }

  .share-pop-up[display="true"]::before {
    display: none; 
  }

  .share-pop-up[display="true"] {
    width: 325px;
    right: -34px;
    top: -8px;
    padding: 22px 40px 22px 40px; 
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    justify-content: left;

  }

  .share-text {
    margin-left: -8px;
    margin-right: 8px;
  }
  
  .padding-lr-8 {
    padding: 0 8px 0 8px;
  }
}
